.toast {
  min-width: 250px;
  max-width: 90vw;
  padding: 1rem;
  border-radius: 0.5rem;
  font: var(--title-toast);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 4s forwards;
  opacity: 0;
  word-wrap: break-word;
  white-space: normal;
  pointer-events: auto;
}

.toast-success {
  background-color: var(--bg-brand);
  color: var(--color-title);
}

.toast-error {
  background-color: var(--accent-orange-light);
  color: var(--text-toast);
}

.toast-info {
  background-color: var(--accent-blue-light);
  color: var(--content-primary);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
