.flex {
  display: flex;
}

.grid {
  display: grid;
}

.disabled {
  display: none;
}

.enabled {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.center-row-inline {
  justify-content: center;
}

.center-col-inline {
  align-items: center;
}

.center-col-inline {
  align-items: center;
}

.center-col-block {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.blur-overlay {
  filter: blur(6px);
  pointer-events: none; /* bloqueia cliques e seleção */
  user-select: none; /* bloqueia seleção de texto */
}
