.your-schedule {
  width: inherit;
  margin-top: 3.5625rem;
  margin-inline: 1.25rem;
}

@media (min-width: 80rem) {
  .your-schedule {
    min-width: 54.4375rem;
    height: auto;
    padding-inline: 5rem;
  }
}
