*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  /* Background */
  --bg-primary: #151515;
  --bg-secondary: #1e1e1e;
  --bg-tertiary: #23242c;
  --bg-brand: #9282fa;
  --bg-highlights: #bdb4fa;

  /* Border */
  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9282fa;
  --border-divisor: #353339;

  /* Accent */
  --accent-blue: #027df0;
  --accent-blue-light: #16487a;
  --accent-yellow: #f0dc02;
  --accent-yellow-light: #756e1b;
  --accent-orange: #f09102;
  --accent-orange-light: #75501b;

  /* TIPOGRAPH */
  --ff-inter: "Inter", sans-serif;
  --ff-inter-tight: "Inter Tight", sans-serif;
  /* Inter Tight */
  --title: 600 1.5rem/2rem var(--ff-inter-tight);
  /* Inter */
  --p-md: 400 0.875rem/1.5rem var(--ff-inter);
  --p-sm: 400 0.75/1rem var(--ff-inter);
  --label-lg: 600 1rem/1.5rem var(--ff-inter);
  --label-md: 600 0.875rem/1.5rem var(--ff-inter);
  --label-sm: 600 0.75rem/1rem var(--ff-inter);
  --link: 400 0.75rem/1rem var(--ff-inter);
}

body {
  background-color: var(--bg-secondary);
  color: var(--content-primary);
}
