form {
  position: relative;
  width: 100%;
  padding-inline: 1.25rem;
  background: var(--bg-tertiary);

  border-radius: 0.75rem;

  & .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    cursor: pointer;

    & img {
      width: 2.25rem;
      height: 2.25rem;
    }
  }

  & h2 {
    padding-top: 2.5rem;
    font: var(--title);
    color: var(--content-primary);
  }

  & p {
    font: var(--p-md);
    color: var(--content-secondary);
    margin-top: 0.25rem;
    margin-bottom: 1.75rem;
  }
}
